= turbo_stream.prepend 'todos', @todo
= turbo_stream.replace 'new-todo', partial: 'add_todo_button'
= turbo_stream.update 'alert', partial: 'application/alert', locals: { message: 'New Todo added to the top of the list.' }
