@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply bg-stone-50 text-stone-900;
    @apply dark:bg-neutral-800 dark:text-neutral-300;
  }
  h1 {
    @apply text-4xl text-center font-bold mb-3;
    @apply lg:mb-0;
  }
  div,
  p {
    @apply break-words;
  }

  a {
    @apply underline;
    @apply focus:outline-none focus:no-underline;
    @apply hover:outline-none hover:no-underline;
  }

  label {
    @apply label;
  }

  [multiple],
  [type="file"],
  [type="date"],
  [type="datetime-local"],
  [type="email"],
  [type="month"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="time"],
  [type="url"],
  [type="week"],
  select,
  textarea {
    @apply p-1.5 w-full lg:w-96;
    @apply border-stone-900;
    @apply dark:text-neutral-900 dark:bg-neutral-300 dark:border-0;
  }

  checkbox {
    @apply block mt-2 h-5 w-5;
  }

  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="email"]:focus,
  [type="month"]:focus,
  [type="number"]:focus,
  [type="password"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="text"]:focus,
  [type="time"]:focus,
  [type="checkbox"]:focus,
  select:focus,
  select:active,
  textarea:focus {
    @apply outline-none border-2 border-stone-900 ring-0;
    @apply dark:border-0 dark:bg-neutral-300 border-neutral-700;
  }

  [type="file"]:focus {
    @apply outline-none border border-stone-900 ring-0;
    @apply dark:border-0 dark:bg-neutral-300 border-neutral-700;
  }

  dialog {
    @apply backdrop:bg-neutral-900 backdrop:opacity-80 bg-stone-50 p-3;
    @apply dark:bg-neutral-800 dark:text-neutral-300;
  }

  dialog:focus,
  dialog:active {
    @apply outline-none;
  }
}

@layer components {
  .header {
    @apply content-box mt-0;
  }

  .page-title {
    @apply text-center lg:text-left;
  }

  .content-box {
    @apply bg-neutral-200 border border-stone-300 p-3 mt-5 md:mt-8 shadow-md shadow-stone-300;
    @apply dark:bg-neutral-950 dark:border-neutral-700 dark:shadow-neutral-700;
  }

  .handle {
    @apply absolute -top-4 left-[20%] w-3/5 h-8 z-50;
    @apply bg-neutral-200 border border-stone-300 shadow-sm shadow-stone-300;
    @apply dark:bg-neutral-950 dark:border-neutral-700 dark:shadow-neutral-700;
  }

  #notice {
    @apply block w-full p-3 mb-2 bg-green-300 border-2 border-green-400 text-green-900 font-medium;
    @apply dark:bg-lime-900 dark:border dark:border-lime-200 dark:text-lime-200;
  }

  .label {
    @apply block font-bold mb-1;
  }

  .image-preview {
    @apply border border-black p-[1px] hover:p-0 hover:border-2;
    @apply dark:border-neutral-300;
  }

  .file-preview {
    @apply block no-underline w-fit p-2;
    @apply hover:bg-stone-300 focus:bg-stone-300;
    @apply dark:hover:bg-neutral-800 dark:focus:bg-neutral-800;
  }

  .btn,
  .button {
    @apply w-24 block rounded-lg text-center font-medium py-3 bg-blue-400 text-lg border border-blue-600 no-underline;
    @apply hover:bg-blue-500 focus:bg-blue-500;
    @apply dark:border-0 dark:bg-sky-500 dark:text-neutral-900;
    @apply dark:hover:bg-sky-600 dark:focus:bg-sky-600;
    @apply lg:px-6;
  }
  .btn-important {
    @apply button bg-red-500 border-red-700 text-stone-200;
    @apply hover:bg-red-700 hover:border-red-800;
    @apply focus:bg-red-700 focus:bg-red-800;
    @apply dark:bg-pink-700 dark:text-neutral-300;
    @apply dark:hover:bg-pink-800 dark:focus:bg-pink-800;
  }
  .btn-action {
    @apply button bg-emerald-600 border-emerald-700;
    @apply hover:bg-emerald-700 hover:border-emerald-800;
    @apply focus:bg-emerald-700 focus:bg-emerald-800;
    @apply dark:bg-lime-700 dark:text-neutral-300;
    @apply dark:hover:bg-lime-800 dark:focus:bg-lime-800;
  }

  .btn-submit {
    @apply button lg:w-auto;
  }

  form.contents .field_with_errors > input,
  form.contents .field_with_errors > textarea {
    @apply border-2 border-red-300;
    @apply dark:border dark:border-red-950;
  }

  #errors-explanation {
    @apply border-2 bg-red-100 border-red-300 text-red-600 p-3;
    @apply dark:border dark:bg-red-800 dark:border-red-300 dark:text-red-200;
  }
  #errors-explanation li {
    @apply ml-4;
  }
  .field-error-explanation {
    @apply text-red-600 text-sm mt-1;
    @apply dark:text-red-500;
  }
}
